<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FitForm</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='index.css') }}">
</head>

<body>

<div class="container">

    <h1>FitForm</h1>

    <form method="POST">

        <div class="input-group">
            <label>Średnie tygodniowe spożycie kcal</label>
            <input type="number" name="avg_kcal" required>
        </div>

        <div class="input-group">
            <label>Średnie tygodniowe spalone kcal</label>
            <input type="number" name="avg_burned_kcal" required>
        </div>

        <div class="input-group">
            <label>Waga (kg)</label>
            <input type="number"
                   step="0.1"
                   name="weight"
                   required>
        </div>

        <div class="input-group">
            <label>Ilość dni treningowych</label>
            <input type="number"
                   step="1"
                   name="training_days"
                   max="7"
                   required>
        </div>

        <div class="input-group">

            <label>Płeć</label>

            <select name="gender">

                <option value="M">
                    Mężczyzna
                </option>

                <option value="K">
                    Kobieta
                </option>

            </select>

        </div>

        <button type="submit">
            Generuj predykcję
        </button>

    </form>

</div>

</body>
</html>