<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>FitForm</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>FitForm</h1>
       <form method="POST">

    <div class="input-group">
        <label for="weight">Aktualna waga (kg)</label>
        <input
            type="number"
            id="weight"
            name="weight"
            step="0.01"
            required
        >
    </div>

    <div class="input-group">
        <label for="kcal">Średnia liczba spożytych kalorii</label>
        <input
            type="number"
            id="kcal"
            name="kcal"
            step="0.1"
            required
        >
    </div>

    <div class="input-group">
        <label for="protein">Średnia ilość białka (g)</label>
        <input
            type="number"
            id="protein"
            name="protein"
            step="0.1"
            required
        >
    </div>

    <div class="input-group">
        <label for="burned">Średnia liczba spalonych kalorii</label>
        <input
            type="number"
            id="burned"
            name="burned"
            step="0.1"
            required
        >
    </div>

    <div class="input-group">
        <label for="cardio">Średni czas cardio (min)</label>
        <input
            type="number"
            id="cardio"
            name="cardio"
            step="0.1"
            required
        >
    </div>

    <div class="input-group">
        <label for="strength">Liczba treningów siłowych</label>
        <input
            type="number"
            id="strength"
            name="strength"
            min="0"
            required
        >
    </div>

    <div class="input-group">
        <label for="steps">Średnia liczba kroków</label>
        <input
            type="number"
            id="steps"
            name="steps"
            min="0"
            required
        >
    </div>

    <div class="input-group">
        <label for="days">Liczba dni</label>
        <input
            type="number"
            id="days"
            name="days"
            value="7"
            min="1"
            required
        >
    </div>

     <div class="input-group">
        <label for="weight">Podaj płeć</label>
        <select name="plec">
            <option value="male">Mężczyzna</option>
            <option value="female">Kobieta</option>
        </select>
    </div>

    <button type="submit">
        Oblicz prognozę
    </button>


    </form>
</div>
</body>
</html>